.overall {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;

  @media (max-width: 1250px) {
    padding: 0 20px;
  }
}
