@use '@/styles/variables.scss' as *;

.container {
  text-align: end;
  .funTitle {
    color: $green;
    display: block;
    font-size: 3rem;

    .args {
      color: white;
    }
  }
  .subtitle {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .description {
    color: $gray_text;
  }
}

.init {
  text-align: start;
  .funTitle {
    transform: rotateX(90deg);
  }

  .subtitle,
  .description {
    opacity: 0;
    transform: translateX(100px);
  }
}
