<section class="scene-overall">
  <div class="scene-container">
    <div
      id="initTitle"
      class="funTitle-container"
    >
      <h1
        class="funTitle"
        id="intro-title"
      >
        Who is Lu<span class="args">.is</span>?
      </h1>
      <p
        class="subtitle"
        id="intro-subtitle"
      >
        Luis Fernando Vargas Benambourg
      </p>
      <br />
      <p
        class="description"
        id="intro-description"
      >
        Software engineer
      </p>
      <div id="intro-loadbar"></div>
    </div>
    <div id="space-cats" class="space-cats"></div>
  </div>
</section>
