<section class="scene-overall">
  <div class="scene-container">
    <div
      id="rootsTitle"
      class="funTitle-container"
    >
      <h1
        class="funTitle"
        id="roots-title"
      >
        Roots<span class="args">.(X)</span>
      </h1>
      <p
        class="subtitle"
        id="roots-subtitle"
      >
        Self-taugth/Academy Software Developer.
      </p>
      <br />
      <p
        class="description"
        id="roots-description"
      >
        For as long as I can remember my life has revolved around technology. Growing up, my free time was dedicated to classic and online video games where I connected with people from all over the world. I think thanks to these roots I understood how important the internet is and found my passion for web development, where I can create tools to connect people by showing useful and entertaining content.
      </p>
    </div>
    <div id="space-cats" class="space-cats"></div>
  </div>
</section>
